<header class="header-main">
  <nav>
    <div class="nav-wrapper ">
      {{#link 'help_center' class="brand-logo"}}   <img hieght="100%" width="100%" src="{{asset 'AOD_Circles.svg'}}" alt=""> {{/link}}
      <div class="search-bar-wrapper">
        {{search submit=false instant=true class='search-bar'}}
      </div>
      <div class="user-info-wrapper">
        {{user_info}}
      </div>
    </div>
  </nav>
</header>

<header class="header-category hidden">
  <nav>
    <div class="nav-wrapper ">
      {{#link 'help_center' class="brand-logo"}}   <img hieght="100%" width="100%" src="{{asset 'AOD_Circles.svg'}}" alt=""> {{/link}}
      <div class="search-bar-wrapper">
        {{search submit=false instant=true class='search-bar'}}
      </div>
      <div class="user-info-wrapper">
        {{user_info}}
      </div>
    </div>
  </nav>
</header>
